// Colors
$purple: hsl(259, 100%, 65%);
$light-red: hsl(0, 100%, 67%);

$white: hsl(0, 0%, 100%);
$off-white: hsl(0, 0%, 94%);
$light-grey: hsl(0, 0%, 86%);
$smokey-grey: hsl(0, 1%, 44%);
$off-black: hsl(0, 0%, 8%);

// Font Weights
$fw-m: 400;
$fw-l: 700;
$fw-xl: 800;

$calculate-age-button-size: clamp(6rem, 3.6rem + 3.6vw, 8.4rem);

html {
	font-size: 62.5%;
}

body {
	font-family: "Poppins", sans-serif;
	font-weight: $fw-l;
	background-color: $off-white;
	color: $off-black;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}

.container {
	width: min(76rem, 92%);
	margin-left: auto;
	margin-right: auto;
}

.show {
	display: block !important;
}

.hide {
	display: none !important;
}

.age-calculator {
	background-color: $white;
	padding: 4.8rem 2.4rem;
	border-radius: 20px 20px 104px 20px;
	min-height: clamp(34.5rem, 22.3rem + 22.3vw, 54.8rem);

	form {
		position: relative;

		.inputs-wrapper {
			display: flex;
			gap: clamp(1.6rem, 1rem + 1vw, 2.4rem);
			border-bottom: 2px solid $off-white;
			padding-bottom: 5.6rem;

			.input-wrapper {
				display: flex;
				flex-direction: column;
				width: clamp(8.8rem, 5.95rem + 5.95vw, 15rem);

				label {
					color: $smokey-grey;
					text-transform: uppercase;
					letter-spacing: 0.2rem;
					font-size: clamp(1.2rem, 0.7rem + 0.7vw, 1.5rem);
					margin-bottom: 0.4rem;
				}

				input {
					border: 2px solid $off-white;
					padding: 0.8rem 1.2rem;
					border-radius: 8px;
					font-size: clamp(2rem, 1.25rem + 1.25vw, 3rem);
					caret-color: $purple;
					background-color: $white;

					&::placeholder {
						color: $smokey-grey;
					}

					&:focus {
						border-color: $purple;
					}

					&::-webkit-outer-spin-button,
					&::-webkit-inner-spin-button {
						appearance: none;
					}
				}

				.error-message {
					color: $light-red;
					font-size: clamp(1.4rem, 0.8rem + 0.8vw, 1.8rem);
					font-weight: $fw-m;
					font-style: italic;
					margin-top: 0.4rem;
					display: none;
				}

				&.error {
					label {
						color: $light-red;
					}

					input {
						border-color: $light-red;
					}

					.error-message {
						display: block;
					}
				}
			}
		}

		.calculate-age-button {
			padding: clamp(1.6rem, 0.9rem + 0.9vw, 2rem);
			border-radius: 50%;
			background-color: $purple;
			width: $calculate-age-button-size;
			height: $calculate-age-button-size;
			position: absolute;
			top: 100%;
			left: 50%;
			translate: -50% -50%;
			transition: background-color 300ms ease;

			&:hover {
				background-color: $off-black;
			}

			&:focus {
				outline: 3px solid $off-black;
			}
		}
	}

	.results {
		margin-top: 5.6rem;

		.birthday-message {
			display: none;
			font-size: clamp(2.6rem, 1.95rem + 1.95vw, 5.2rem);
			color: $purple;
			text-wrap: balance;
			animation: birthdayTextAnimation 1200ms ease 1;
			max-width: 17ch;

			.years-old-sentence {
				color: $off-black;

				.years-old-value {
					color: $purple;
				}
			}
		}

		.date-results-wrapper {
			font-weight: $fw-xl;
			font-style: italic;
			font-size: clamp(4.8rem, 3.2rem + 3.2vw, 8rem);
			line-height: 1.1;

			.date-result {
				.value {
					color: $purple;
				}
			}
		}
	}
}

@keyframes birthdayTextAnimation {
	0% {
		transform: rotate(0deg) scale(0.5);
	}

	20% {
		transform: rotate(10deg);
	}

	40% {
		transform: rotate(-10deg);
	}

	60% {
		transform: rotate(5deg);
	}

	80% {
		transform: rotate(-5deg);
	}

	100% {
		transform: rotate(0deg) scale(1);
	}
}

@media (prefers-reduced-motion: reduce) {
	* {
		animation: none !important;
	}
}

@media (width >= 376px) {
	.age-calculator {
		form {
			.calculate-age-button {
				left: calc(100% - ($calculate-age-button-size / 2));
			}
		}
	}
}

@media (width > 768px) {
	.age-calculator {
		padding: 4.8rem;
		border-radius: 20px 20px 200px 20px;

		form {
			.inputs-wrapper {
				padding-bottom: 4rem;

				.input-wrapper {
					input {
						padding: 1.2rem 1.6rem;
					}
				}
			}
		}
	}
}
