html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  background-color: hsl(0, 0%, 94%);
  color: hsl(0, 0%, 8%);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  width: min(76rem, 92%);
  margin-left: auto;
  margin-right: auto;
}

.show {
  display: block !important;
}

.hide {
  display: none !important;
}

.age-calculator {
  background-color: hsl(0, 0%, 100%);
  padding: 4.8rem 2.4rem;
  border-radius: 20px 20px 104px 20px;
  min-height: clamp(34.5rem, 22.3rem + 22.3vw, 54.8rem);
}
.age-calculator form {
  position: relative;
}
.age-calculator form .inputs-wrapper {
  display: flex;
  gap: clamp(1.6rem, 1rem + 1vw, 2.4rem);
  border-bottom: 2px solid hsl(0, 0%, 94%);
  padding-bottom: 5.6rem;
}
.age-calculator form .inputs-wrapper .input-wrapper {
  display: flex;
  flex-direction: column;
  width: clamp(8.8rem, 5.95rem + 5.95vw, 15rem);
}
.age-calculator form .inputs-wrapper .input-wrapper label {
  color: hsl(0, 1%, 44%);
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-size: clamp(1.2rem, 0.7rem + 0.7vw, 1.5rem);
  margin-bottom: 0.4rem;
}
.age-calculator form .inputs-wrapper .input-wrapper input {
  border: 2px solid hsl(0, 0%, 94%);
  padding: 0.8rem 1.2rem;
  border-radius: 8px;
  font-size: clamp(2rem, 1.25rem + 1.25vw, 3rem);
  caret-color: hsl(259, 100%, 65%);
  background-color: hsl(0, 0%, 100%);
}
.age-calculator form .inputs-wrapper .input-wrapper input::-moz-placeholder {
  color: hsl(0, 1%, 44%);
}
.age-calculator form .inputs-wrapper .input-wrapper input::placeholder {
  color: hsl(0, 1%, 44%);
}
.age-calculator form .inputs-wrapper .input-wrapper input:focus {
  border-color: hsl(259, 100%, 65%);
}
.age-calculator form .inputs-wrapper .input-wrapper input::-webkit-outer-spin-button, .age-calculator form .inputs-wrapper .input-wrapper input::-webkit-inner-spin-button {
  -webkit-appearance: none;
          appearance: none;
}
.age-calculator form .inputs-wrapper .input-wrapper .error-message {
  color: hsl(0, 100%, 67%);
  font-size: clamp(1.4rem, 0.8rem + 0.8vw, 1.8rem);
  font-weight: 400;
  font-style: italic;
  margin-top: 0.4rem;
  display: none;
}
.age-calculator form .inputs-wrapper .input-wrapper.error label {
  color: hsl(0, 100%, 67%);
}
.age-calculator form .inputs-wrapper .input-wrapper.error input {
  border-color: hsl(0, 100%, 67%);
}
.age-calculator form .inputs-wrapper .input-wrapper.error .error-message {
  display: block;
}
.age-calculator form .calculate-age-button {
  padding: clamp(1.6rem, 0.9rem + 0.9vw, 2rem);
  border-radius: 50%;
  background-color: hsl(259, 100%, 65%);
  width: clamp(6rem, 3.6rem + 3.6vw, 8.4rem);
  height: clamp(6rem, 3.6rem + 3.6vw, 8.4rem);
  position: absolute;
  top: 100%;
  left: 50%;
  translate: -50% -50%;
  transition: background-color 300ms ease;
}
.age-calculator form .calculate-age-button:hover {
  background-color: hsl(0, 0%, 8%);
}
.age-calculator form .calculate-age-button:focus {
  outline: 3px solid hsl(0, 0%, 8%);
}
.age-calculator .results {
  margin-top: 5.6rem;
}
.age-calculator .results .birthday-message {
  display: none;
  font-size: clamp(2.6rem, 1.95rem + 1.95vw, 5.2rem);
  color: hsl(259, 100%, 65%);
  text-wrap: balance;
  animation: birthdayTextAnimation 1200ms ease 1;
  max-width: 17ch;
}
.age-calculator .results .birthday-message .years-old-sentence {
  color: hsl(0, 0%, 8%);
}
.age-calculator .results .birthday-message .years-old-sentence .years-old-value {
  color: hsl(259, 100%, 65%);
}
.age-calculator .results .date-results-wrapper {
  font-weight: 800;
  font-style: italic;
  font-size: clamp(4.8rem, 3.2rem + 3.2vw, 8rem);
  line-height: 1.1;
}
.age-calculator .results .date-results-wrapper .date-result .value {
  color: hsl(259, 100%, 65%);
}

@keyframes birthdayTextAnimation {
  0% {
    transform: rotate(0deg) scale(0.5);
  }
  20% {
    transform: rotate(10deg);
  }
  40% {
    transform: rotate(-10deg);
  }
  60% {
    transform: rotate(5deg);
  }
  80% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg) scale(1);
  }
}
@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
  }
}
@media (width >= 376px) {
  .age-calculator form .calculate-age-button {
    left: calc(100% - clamp(6rem, 3.6rem + 3.6vw, 8.4rem) / 2);
  }
}
@media (width > 768px) {
  .age-calculator {
    padding: 4.8rem;
    border-radius: 20px 20px 200px 20px;
  }
  .age-calculator form .inputs-wrapper {
    padding-bottom: 4rem;
  }
  .age-calculator form .inputs-wrapper .input-wrapper input {
    padding: 1.2rem 1.6rem;
  }
}/*# sourceMappingURL=style.css.map */