html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  background-color: hsl(0, 0%, 94%);
  color: hsl(0, 0%, 8%);
}

.container {
  width: 760px;
  max-width: 92%;
  margin-left: auto;
  margin-right: auto;
}

.show {
  display: block !important;
}

.hide {
  display: none !important;
}

.age-calculator {
  margin-top: 88px;
  background-color: hsl(0, 0%, 100%);
  padding: 48px 24px;
  border-radius: 20px 20px 104px 20px;
}
.age-calculator form .inputs-wrapper {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid hsl(0, 0%, 94%);
  padding-bottom: 56px;
}
.age-calculator form .inputs-wrapper .input-wrapper {
  display: flex;
  flex-direction: column;
  width: 88px;
}
.age-calculator form .inputs-wrapper .input-wrapper label {
  color: hsl(0, 1%, 44%);
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.2rem;
  margin-bottom: 4px;
}
.age-calculator form .inputs-wrapper .input-wrapper input {
  border: 2px solid hsl(0, 0%, 94%);
  padding: 8px 12px;
  border-radius: 8px;
  font-size: 2rem;
  caret-color: hsl(259, 100%, 65%);
}
.age-calculator form .inputs-wrapper .input-wrapper input::-moz-placeholder {
  color: hsl(0, 1%, 44%);
}
.age-calculator form .inputs-wrapper .input-wrapper input::placeholder {
  color: hsl(0, 1%, 44%);
}
.age-calculator form .inputs-wrapper .input-wrapper input:focus {
  border-color: hsl(259, 100%, 65%);
}
.age-calculator form .inputs-wrapper .input-wrapper input::-webkit-outer-spin-button, .age-calculator form .inputs-wrapper .input-wrapper input::-webkit-inner-spin-button {
  -webkit-appearance: none;
          appearance: none;
}
.age-calculator form .inputs-wrapper .input-wrapper .error-message {
  color: hsl(0, 100%, 67%);
  font-size: 1.4rem;
  font-weight: 400;
  font-style: italic;
  margin-top: 4px;
  display: none;
}
.age-calculator form .inputs-wrapper .input-wrapper.error label {
  color: hsl(0, 100%, 67%);
}
.age-calculator form .inputs-wrapper .input-wrapper.error input {
  border-color: hsl(0, 100%, 67%);
}
.age-calculator form .inputs-wrapper .input-wrapper.error .error-message {
  display: block;
}
.age-calculator form .calculate-age-button {
  display: block;
  padding: 16px;
  border-radius: 50%;
  background-color: hsl(259, 100%, 65%);
  width: 60px;
  margin-top: -30px;
  margin-left: auto;
  margin-right: auto;
  transition: background-color 300ms ease;
}
.age-calculator form .calculate-age-button:hover {
  background-color: hsl(0, 0%, 8%);
}
.age-calculator form .calculate-age-button:focus {
  outline: 3px solid hsl(0, 0%, 8%);
}
.age-calculator .results {
  margin-top: 28px;
}
.age-calculator .results .birthday-message {
  display: none;
  font-size: 2.6rem;
  color: hsl(259, 100%, 65%);
  text-wrap: balance;
  animation: birthdayTextAnimation 1200ms ease 1;
  width: 17ch;
}
.age-calculator .results .birthday-message .years-old-sentence {
  color: hsl(0, 0%, 8%);
}
.age-calculator .results .birthday-message .years-old-sentence .years-old-value {
  margin-inline: 4px;
  color: hsl(259, 100%, 65%);
}
.age-calculator .results .date-results-wrapper {
  font-weight: 800;
  font-style: italic;
  font-size: 4.8rem;
  line-height: 1.1;
}
.age-calculator .results .date-results-wrapper .date-result .value {
  color: hsl(259, 100%, 65%);
}

@keyframes birthdayTextAnimation {
  0% {
    transform: rotate(0deg) scale(0.5);
  }
  20% {
    transform: rotate(10deg);
  }
  40% {
    transform: rotate(-10deg);
  }
  60% {
    transform: rotate(5deg);
  }
  80% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg) scale(1);
  }
}
@media (prefers-reduced-motion: reduce) {
  .birthday-message {
    animation: none !important;
  }
}
@media (width > 376px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .age-calculator {
    margin-top: unset;
    padding: 48px;
    border-radius: 20px 20px 200px 20px;
    min-height: 548px;
  }
  .age-calculator form .inputs-wrapper {
    justify-content: flex-start;
    gap: 24px;
  }
  .age-calculator form .inputs-wrapper .input-wrapper {
    width: 160px;
  }
  .age-calculator form .inputs-wrapper .input-wrapper label {
    font-size: 1.4rem;
    cursor: pointer;
  }
  .age-calculator form .inputs-wrapper .input-wrapper input {
    font-size: 2.6rem;
    cursor: pointer;
  }
  .age-calculator form .calculate-age-button {
    padding: 20px;
    width: 84px;
    margin-top: -42px;
    margin-right: unset;
  }
  .age-calculator .results .birthday-message {
    font-size: 4.4rem;
  }
  .age-calculator .results .date-results-wrapper .date-result {
    font-size: 6.8rem;
  }
}/*# sourceMappingURL=style.css.map */