// Colors
$purple: hsl(259, 100%, 65%);
$light-red: hsl(0, 100%, 67%);

$white: hsl(0, 0%, 100%);
$off-white: hsl(0, 0%, 94%);
$light-grey: hsl(0, 0%, 86%);
$smokey-grey: hsl(0, 1%, 44%);
$off-black: hsl(0, 0%, 8%);

// Font Weights
$fw-m: 400;
$fw-l: 700;
$fw-xl: 800;

html {
	font-size: 62.5%;
}

body {
	font-family: "Poppins", sans-serif;
	font-weight: $fw-l;
	background-color: $off-white;
	color: $off-black;
}

.container {
	width: 760px;
	max-width: 92%;
	margin-left: auto;
	margin-right: auto;
}

.show {
	display: block !important;
}

.hide {
	display: none !important;
}

.age-calculator {
	margin-top: 88px;
	background-color: $white;
	padding: 48px 24px;
	border-radius: 20px 20px 104px 20px;

	form {
		.inputs-wrapper {
			display: flex;
			justify-content: space-between;
			border-bottom: 2px solid $off-white;
			padding-bottom: 56px;

			.input-wrapper {
				display: flex;
				flex-direction: column;
				width: 88px;

				label {
					color: $smokey-grey;
					text-transform: uppercase;
					letter-spacing: 2px;
					font-size: 1.2rem;
					margin-bottom: 4px;
				}

				input {
					border: 2px solid $off-white;
					padding: 8px 12px;
					border-radius: 8px;
					font-size: 2rem;
					caret-color: $purple;

					&::placeholder {
						color: $smokey-grey;
					}

					&:focus {
						border-color: $purple;
					}

					&::-webkit-outer-spin-button,
					&::-webkit-inner-spin-button {
						appearance: none;
					}
				}

				.error-message {
					color: $light-red;
					font-size: 1.4rem;
					font-weight: $fw-m;
					font-style: italic;
					margin-top: 4px;
					display: none;
				}

				&.error {
					label {
						color: $light-red;
					}

					input {
						border-color: $light-red;
					}

					.error-message {
						display: block;
					}
				}
			}
		}

		.calculate-age-button {
			display: block;
			padding: 16px;
			border-radius: 50%;
			background-color: $purple;
			width: 60px;
			margin-top: -44px;
			margin-left: auto;
			margin-right: auto;
			transition: background-color 300ms ease;

			&:hover {
				background-color: $off-black;
			}

			&:focus {
				outline: 3px solid $off-black;
			}
		}
	}

	.results {
		margin-top: 28px;

		.birthday-message {
			display: none;
			font-size: 2.6rem;
			color: $purple;
			text-wrap: balance;
			animation: birthdayTextAnimation 1200ms ease 1;
			width: 17ch;

			.years-old-sentence {
				color: $off-black;

				.years-old-value {
					margin-inline: 4px;
					color: $purple;
				}
			}
		}

		.date-results-wrapper {
			font-weight: $fw-xl;
			font-style: italic;
			font-size: 4.8rem;
			line-height: 1.1;

			.date-result {
				.value {
					color: $purple;
				}
			}
		}
	}
}

@keyframes birthdayTextAnimation {
	0% {
		transform: rotate(0deg) scale(0.5);
	}

	20% {
		transform: rotate(10deg);
	}

	40% {
		transform: rotate(-10deg);
	}

	60% {
		transform: rotate(5deg);
	}

	80% {
		transform: rotate(-5deg);
	}

	100% {
		transform: rotate(0deg) scale(1);
	}
}

@media (prefers-reduced-motion: reduce) {
	.birthday-message {
		animation: none !important;
	}
}

@media (width > 376px) {
	body {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100vh;
	}

	.age-calculator {
		margin-top: unset;
		padding: 48px;
		border-radius: 20px 20px 200px 20px;
		min-height: 548px;

		form {
			.inputs-wrapper {
				justify-content: flex-start;
				gap: 24px;

				.input-wrapper {
					width: 160px;

					label {
						font-size: 1.4rem;
						cursor: pointer;
					}

					input {
						font-size: 2.6rem;
						cursor: pointer;
					}
				}
			}

			.calculate-age-button {
				padding: 20px;
				width: 84px;
				margin-right: unset;
			}
		}

		.results {
			.birthday-message {
				font-size: 4.4rem;
			}

			.date-results-wrapper {
				.date-result {
					font-size: 6.8rem;
				}
			}
		}
	}
}
